#require("selectionValues",1)
#require("message")
#require("title")
#produce("answer")
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title></title>
  </head>
  <body>

       <script type="text/javascript" src="$pmrpcUrl"></script>

       <script type="text/javascript">

         function reply() {
 	  resultObject = {};
	  resultObject.answer = GetSelectedItem();
	  results = JSON.stringify(resultObject);
          alert("About to send message\n" + results);
          x = pmrpc.call({
             destination : "publish",
             publicProcedureName : "reply",
             params : [resultObject],
             onSuccess : function(retVal) { alert ("This is the return value\n" + retVal.returnValue); }
          });
      alert("At end of dealing with reply");
	  return true;
         }
         
         function GetSelectedItem() {

chosen = ""
len = document.myform.group.length

for (i = 0; i <len; i++) {
if (document.myform.group[i].checked) {
chosen = document.myform.group[i].value
}
}

if (chosen == "") {
alert("No Location Chosen")
}
return chosen;
}

      </script>
  
  <h2>$!message</h2>
<form name="myform">
#foreach( $value in $selectionValues )
  <input type="radio" name="group" value="$value" />$value<br />  
#end
<input type="button" value="Submit" onClick = "reply()"/>
</form> 
  </body>
</html>

