<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title></title>
  </head>
  <body>
       <script type="text/javascript" src="$pmrpcUrl"></script>
       
       <script type="text/javascript">

         function createReplyContent(results) {
           date = new Date();
           msg = "";
           msg += "<?xml version=\"1.0\" encoding=\"iso-8859-1\"?>\n";
           msg += "<entry xmlns=\"http://www.w3.org/2005/Atom\" xmlns:thr=\"http://purl.org/syndication/thread/1.0\">\n";
           msg += "<title>\"A reply\"</title>\n";
           msg += "<id>" + "$entryId" + "-reply" + "</id>\n";
           msg += "<thr:in-reply-to ref=\"" + "$entryId" + "\"/>\n";
           msg += "<content/>\n";
           msg += "<interaction:resultData xmlns:interaction=\"http://www.taverna.org.uk/interaction\">\n";
		   msg += results;
           msg += "</interaction:resultData>\n";
           msg += "</entry>\n";
	   alert("Created content is " + msg);
           return msg;
         }

         function reply(results) {
	   alert("Received message");
           msg = createReplyContent(JSON.stringify(results));
	   alert(msg);
           xmlhttp = new XMLHttpRequest();
           xmlhttp.open("POST", "$feed", true);
           xmlhttp.onreadystatechange=function() {
               alert(xmlhttp.responseText);
           }
           xmlhttp.setRequestHeader("Content-Type", "application/atom+xml;type=entry");
           xmlhttp.setRequestHeader("Content-Length", msg.length);
           xmlhttp.setRequestHeader("Slug", "$entryId" + "-reply");
           xmlhttp.send(msg);
           return false;
         }
         
         pmrpc.register( {
         	"publicProcedureName" : "reply",
         	"procedure" : reply
         });
     </script>
  </body>
</html>

     