<!doctype html>
<html>
  <head>
      <title></title>
       <script type="text/javascript" src="$pmrpcUrl"></script>
       
  </head>
  <body>
       <script type="text/javascript">

         function createReplyContent(status, results) {
           date = new Date();
           msg = "";
           msg += "<?xml version=\"1.0\" encoding=\"iso-8859-1\"?>\n";
           msg += "<entry xmlns=\"http://www.w3.org/2005/Atom\" xmlns:thr=\"http://purl.org/syndication/thread/1.0\">\n";
           msg += "<title>\"A reply to " + "$entryId" + "\"</title>\n";
           msg += "<id>" + "$entryId" + "-reply" + "</id>\n";
           msg += "<content/>\n";
           msg += "<interaction:run-id xmlns:interaction=\"http://ns.taverna.org.uk/2012/interaction\">" + "$runId" + "</interaction:run-id>\n";
           msg += "<interaction:in-reply-to  xmlns:interaction=\"http://ns.taverna.org.uk/2012/interaction\">" + "$entryId" + "</interaction:in-reply-to>\n";
           msg += "<interaction:result-status xmlns:interaction=\"http://ns.taverna.org.uk/2012/interaction\">";
           msg += escape(status);
           msg += "</interaction:result-status>";
           msg += "<interaction:result-data xmlns:interaction=\"http://ns.taverna.org.uk/2012/interaction\">\n";
		   msg += escape(results);
           msg += "</interaction:result-data>\n";
           msg += "</entry>\n";
           return msg;
         }

         function reply(status, results) {
           msg = createReplyContent(status, JSON.stringify(results));
           xmlhttp = new XMLHttpRequest();
           xmlhttp.open("POST", "$feed", true);
           xmlhttp.onreadystatechange=function() {
//               alert(xmlhttp.responseText);
           }
           xmlhttp.setRequestHeader("Content-Type", "application/atom+xml;type=entry");
           xmlhttp.setRequestHeader("Content-Length", msg.length);
           xmlhttp.setRequestHeader("Slug", "$entryId" + "-reply");
           xmlhttp.send(msg);
           return false;
         }
         

         
         window.onload = function() {
           pmrpc.register( {
         	  publicProcedureName : "reply",
         	  procedure : function(status, results) {
         	     reply(status, results);
         	     return "OK";
         	  }
           });
         
           pmrpc.register( {
             publicProcedureName : "getInputData",
             procedure : function() {
               return JSON.parse('$inputData');
             }
           });
         
           pmrpc.register( {
             publicProcedureName : "getWorkflowRunId",
             procedure : function () {
               return '$runId';
             }
           });

           pmrpc.call({
 			 destination : "publish",
             publicProcedureName : "communicationFrameLoaded",
             params : []
          });
         };
         
     </script>

  </body>
</html>

     